.container {
    width: 900px;
    margin: auto;
    margin-top: 20px;
  }
  
.modal {
  position: absolute;
  width: 900px;
  height: 90%;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px grey;
  background-color: #2d5c88;
  z-index: 2;
}

  .tabs {
    display: flex;
    margin-bottom: -1px;
  }
  
  .inputs {
    height: 200px;
    border: 1px solid black
  }
  
  .row {
    display: flex;
  }